.column {
  float: left;
  width: 8.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-sm-1,.col-sm-2,.col-sm-4,.col-sm-12 {
  display: flex;
}

.column {
  flex: 8.33%;
  padding: 5px;
}
/* Your CSS Code here. */